<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.suninggift.mapper.WopayFtpMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.suninggift.entity.WopayFtp">
        <id column="trade_no" property="tradeNo" />
        <result column="trade_flow_no" property="tradeFlowNo" />
        <result column="phone_no" property="phoneNo" />
        <result column="stages_code" property="stagesCode" />
        <result column="product_id" property="productId" />
        <result column="credit_date" property="creditDate" />
        <result column="finish_date" property="finishDate" />
        <result column="trade_status" property="tradeStatus" />
        <result column="refund_date" property="refundDate" />
        <result column="user_name" property="userName" />
        <result column="id_card" property="idCard" />
        <result column="product_name" property="productName" />
        <result column="product_description" property="productDescription" />
        <result column="fq_num" property="fqNum" />
        <result column="order_amount" property="orderAmount" />
        <result column="fq_seller_percent" property="fqSellerPercent" />
        <result column="fq_rate" property="fqRate" />
        <result column="pay_user_id" property="payUserId" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="business_type" property="businessType" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        trade_no AS "tradeNo", trade_flow_no AS "tradeFlowNo", phone_no AS "phoneNo", stages_code AS "stagesCode", product_id AS "productId", credit_date AS "creditDate", finish_date AS "finishDate", trade_status AS "tradeStatus", refund_date AS "refundDate", user_name AS "userName", id_card AS "idCard", product_name AS "productName", product_description AS "productDescription", fq_num AS "fqNum", order_amount AS "orderAmount", fq_seller_percent AS "fqSellerPercent", fq_rate AS "fqRate", pay_user_id AS "payUserId", province AS "province", city AS "city", business_type AS "businessType", create_time AS "createTime"
    </sql>


    <select id="customList" resultType="cn.stylefeng.guns.modular.suninggift.model.result.WopayFtpResult" parameterType="cn.stylefeng.guns.modular.suninggift.model.params.WopayFtpParam">
        select
        <include refid="Base_Column_List"/>
        from wopay_ftp where 1 = 1
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.suninggift.model.params.WopayFtpParam">
        select
        <include refid="Base_Column_List"/>
        from wopay_ftp where 1 = 1
    </select>

    <select id="customPageList" resultType="cn.stylefeng.guns.modular.suninggift.model.result.WopayFtpResult" parameterType="cn.stylefeng.guns.modular.suninggift.model.params.WopayFtpParam">
        select
        <include refid="Base_Column_List"/>
        from wopay_ftp where 1 = 1
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.suninggift.model.params.WopayFtpParam">
        select
        <include refid="Base_Column_List"/>
        from wopay_ftp where 1 = 1
    </select>

</mapper>
